################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Calculations
/Calculations/bin
/Calculations/obj
/Calculations.Tests/bin
/Calculations.Tests/obj
